body {
    box-sizing: border-box;
    background-color: white;
  }

.container {
    width: 100%;
    max-width: 1280px;
    background-color: white;
    margin: auto;
}

.container2 {
    width: 100%;
    min-width: 1280px;
    max-width: 1280px;;
    background-color: rgb(29, 26, 26);
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin: auto;
}

.header {
    padding-top: 20px;
    background-image: url(IMG/Без_назви-2.png);
    width: 100%;
    max-width: 1280px;
    height: 100%;
    min-height: 620px;
    margin: auto;
}

.header_heading {
    width: auto;
    padding-top: 90px;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    text-align: center;
    color: white;
}

.header_heading1 {
    width: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    text-align: center;
    color: white;
    margin-bottom: 70px;
}

.img_header_item {
    color: white;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}

.img_header_item_img {
    text-align: center;
}

.img_header_item_img2 {
    margin: auto;
    border: 3px solid black;
    width: 686px;
    height: 256px;
}

.img_header_item_img3 {
    margin: auto;
    border: 3px solid black;
    width: 680px;
    height: 250px;
}


.img_header_item2 {
    color: black;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.img_header_item3 {
    color: black;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    padding-right: 15px;
    text-align: center;
}

.text_second_style {
    width: 230px;
}

.one_string_photos {
    width: 850px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.one_string_photos2 {
    width: 970px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    border-bottom: 1px solid black;
}

.hiding_elementintop {
    visibility: hidden;
}

.registration_button_item {
    padding: 10px;
    color: black;
    font-size: 25px;
    background-color: white;
    border: 3px solid black;
    text-align: center;
    transition: .3s;
    width: 240px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
  }
  
.registration_button_item:hover {
    padding: 10px;
    border: 3px solid white;
    font-size: 25px;
    text-align: center;
    width: 240px;
    margin: auto;
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
  }

.main_header {
    font-size: 40px;
    text-align: center;
    color: black;
    padding-top: 50px;
    padding-bottom: 50px;
}

.why_you_should {
    width: 800px;
    margin: auto;
}

.why_you_should2 {
    padding-top: 40px;
    width: 800px;
    padding-left: 15px;
}

.why_you_should_text {
    font-family: 'Poppins', sans-serif;
    font-size: 20px; 
    text-align: center;
}